{% load static %}
<!doctype html>
<html>
  <head>
    <title>Book Reviews</title>
    <link rel="stylesheet" href="{% static 'book-review.css' %}">
  </head>
  <body>
    <header>
      <div>My Book Reviews</div>
      <nav>
        <a href="{% url 'create_review' %}">Create a review</a>
      </nav>
    </header>
    <main>
      <div class="main-page-book-review">
        <img class="book-cover" src="https://mks.io/make-it-stick.jpg">
        <h2 class="book-title">
          <a href="detail.html">make it stick</a>
        </h2>
        <div class="book-rating">4 stars</div>
        <div class="book-authors">
          {{ review.authors}}
        </div>
        <h3>Summary</h3>
        <p>
          {{ review.summary}}
        </p>
      </div>
    {% endfor %}
    </main>
    <footer>
      <div>
        Copyright 2022 by me
      </div>
      <p>
        This is my site that contains all of my book reviews
        that you can read to see if you'd like that book.
      </p>
    </footer>
  </body>
</html>